* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.formulario {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 32px;
  width: 100%;
}

.formulario h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
}

p#menor {
    font-size: 12px;
    margin-bottom: 2px;
}

a {
  color: #2f81fd;
  text-decoration: none;
  font-weight: 800;
  text-transform: uppercase;
}

.form {
  width: 100%;
  max-width: 353px;
  box-shadow: 1px 1px 4px 0px #d4d4d4;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 42px;
  margin-top: 22px;
}

.span {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 320px;
}

.span input {
  width: 100%;
  padding: 8px 12px;
  outline: none;
  border: 1px solid #dbdbdb;
  border-radius: 6px;
}

textarea {
  outline: none;
  border: 1px solid #dbdbdb;
  border-radius: 6px;
  width: 100%;
  resize: none;
  height: 100px;
  padding: 8px;
}

.spanbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
}

.spanbutton button {
  width: 100%;
  max-width: 155px;
  padding: 8px 0px;
  border: none;
  background-color: #2f81fd;
  border-radius: 28px;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  box-shadow: 2px 2px 0px 0px #235fb9;
}

.spanbutton button:active {
  box-shadow: inset 2px 2px 0px 0px #235fb9;
}

button#finalizar {
  background-color: #ff4545;
  box-shadow: 2px 2px 0px 0px #b12f2f;
}
button#finalizar:active {
  box-shadow: inset 2px 2px 0px 0px #b12f2f;
}

div#resposta {
  width: 50%;
  word-break: break-word;
  margin-bottom: 40px;
}

div#resposta h2 {
  text-align: center;
  text-transform: uppercase;
}

div#resposta-formatada li {
  text-align: start;
  padding: 10px 0px;
}

ul {
  width: 100%;
  padding: 12px 55px;
}

.span label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.span label p {
    font-size: 12px;
}

#finalizado {
  text-align: center;
}
